<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%=title%></title>
  <link rel='stylesheet' href='./test.css'/>
</head>
<body>
  <div id='app'><%=html%><div>
<script src="../dev/bundle.js"></script>
</body>
</html>
